In [1]:
!pip install psycopg2
!pip install sqlalchemy
!pip install geopandas
!pip install Shapely
!pip install Geoalchemy

Requirement already satisfied: psycopg2 in c:\users\ducdu\anaconda3\envs\geo_env\lib\site-packages (2.9.3)
Requirement already satisfied: sqlalchemy in c:\users\ducdu\anaconda3\envs\geo_env\lib\site-packages (1.4.36)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ducdu\anaconda3\envs\geo_env\lib\site-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: geopandas in c:\users\ducdu\anaconda3\envs\geo_env\lib\site-packages (0.10.2)
Requirement already satisfied: fiona>=1.8 in c:\users\ducdu\anaconda3\envs\geo_env\lib\site-packages (from geopandas) (1.8.21)
Requirement already satisfied: pandas>=0.25.0 in c:\users\ducdu\anaconda3\envs\geo_env\lib\site-packages (from geopandas) (1.4.2)
Requirement already satisfied: shapely>=1.6 in c:\users\ducdu\anaconda3\envs\geo_env\lib\site-packages (from geopandas) (1.8.2)
Requirement already satisfied: pyproj>=2.2.0 in c:\users\ducdu\anaconda3\envs\geo_env\lib\site-packages (from geopandas) (3.3.1)
Requirement already satisfied: attrs>=17 in c:\users\ducdu\anaconda3\envs\geo_env\lib\site-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: certifi in c:\users\ducdu\anaconda3\envs\geo_env\lib\site-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: click>=4.0 in c:\users\ducdu\anaconda3\envs\geo_env\lib\site-packages (from fiona>=1.8->geopandas) (8.1.3)
Requirement already satisfied: cligj>=0.5 in c:\users\ducdu\anaconda3\envs\geo_env\lib\site-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: click-plugins>=1.0 in c:\users\ducdu\anaconda3\envs\geo_env\lib\site-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: six>=1.7 in c:\users\ducdu\anaconda3\envs\geo_env\lib\site-packages (from fiona>=1.8->geopandas) (1.16.0)
Requirement already satisfied: munch in c:\users\ducdu\anaconda3\envs\geo_env\lib\site-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: setuptools in c:\users\ducdu\anaconda3\envs\geo_env\lib\site-packages (from fiona>=1.8->geopandas) (62.3.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\ducdu\anaconda3\envs\geo_env\lib\site-packages (from pandas>=0.25.0->geopandas) (1.22.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ducdu\anaconda3\envs\geo_env\lib\site-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ducdu\anaconda3\envs\geo_env\lib\site-packages (from pandas>=0.25.0->geopandas) (2022.1)
Requirement already satisfied: colorama in c:\users\ducdu\anaconda3\envs\geo_env\lib\site-packages (from click>=4.0->fiona>=1.8->geopandas) (0.4.4)
Requirement already satisfied: Shapely in c:\users\ducdu\anaconda3\envs\geo_env\lib\site-packages (1.8.2)
Requirement already satisfied: Geoalchemy in c:\users\ducdu\anaconda3\envs\geo_env\lib\site-packages (0.7.2)
Requirement already satisfied: SQLAlchemy>=0.6.1 in c:\users\ducdu\anaconda3\envs\geo_env\lib\site-packages (from Geoalchemy) (1.4.36)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ducdu\anaconda3\envs\geo_env\lib\site-packages (from SQLAlchemy>=0.6.1->Geoalchemy) (1.1.2)

In [ ]:
# In order to cancel all connection except current one, mean to solve 'too many connection error'

# import os
# import json

# import pandas as pd
# from sqlalchemy import *
# from sqlalchemy import create_engine
# import psycopg2
# import psycopg2.extras

# current_pid = query(conn, "select pg_backend_pid();")["pg_backend_pid"].get(0)
# for pid in query(conn, "select * from pg_stat_activity where usename = 'y22s1d2x01_ylin5849';")["pid"]:
#     if pid != current_pid:
#         query(conn, f"select pg_terminate_backend(pid) from pg_stat_activity where pid = '{pid}';")
#         conn.close()
#         db.dispose()

# Import libraries and connect to database

In [ ]:
import os
import json

import zipfile
import pandas as pd
from sqlalchemy import *
from sqlalchemy import create_engine
import psycopg2
import psycopg2.extras
from shapely.geometry import Point, Polygon, MultiPolygon
import geopandas as gpd
from geoalchemy2 import Geometry, WKTElement
import matplotlib.pyplot as plt

def pgconnect():

    YOUR_UNIKEY = ''
    YOUR_PW     = ''
    DB_LOGIN    = 'y22s1d2x01_'+ YOUR_UNIKEY
    conn = None
    db = create_engine('postgresql://'+DB_LOGIN+':'+YOUR_PW+'@soitpw11d59.shared.sydney.edu.au/', echo=False)

    conn = db.connect()
    print('connected')
    return db,conn

## function to read the SQL query get from Tutorial 4

def pgquery(conn, sqlcmd, args=None, df=True):
    result = pd.DataFrame() if df else None
    try:
        if df:
            result = pd.read_sql_query(sqlcmd, conn, params=args)
        else:
            result = conn.execute(sqlcmd, args).fetchall()
            result = result[0] if len(result) == 1 else result
    except Exception as e:
        print("Error encountered: ", e, sep='\n')
    return result

#login to database
db,conn = pgconnect()

In [3]:
# open csv file and import it into database(pdadmin), output are expected as drag file into pgadmin.
# Unfortunately there is bug on pgadmin and this won't work.
# Record for what I haver tried.

import os

data_path  = globals()['_dh'][0]

# file_names = ['Neighbourhoods.csv','BusinessStats.csv']
# table_names = [name.split(".csv")[0]+"Table" for name in file_names]

# print(table_names)

# for i in range(len(file_names)):
#     table_name = table_names[i]
#     loaded_data = pd.read_csv(os.path.join(data_path, file_names[i]))
#     print("Loaded",table_name)
#     loaded_data.to_sql(table_name, con=conn, if_exists='replace')

# print("Data loading complete")

# Business Stats

In [145]:
# business csv part

business_stats_schema = """CREATE TABLE IF NOT EXISTS BusinessStatsTable (
                         area_id         INT PRIMARY KEY,
                         area_name         VARCHAR(50),
                         business_count       INT,
                         accommodation_and_food_services_count   INT,
                         retail_trade_count   INT,
                         agriculture_forestry_and_fishing_count INT,
                         health_care_and_social_assistance_count INT,
                         public_administration_and_safety_count INT,
                         transport_postal_and_warehousing_count INT
                   )"""

loaded_data = pd.read_csv(os.path.join(data_path,'BusinessStats.csv'))
loaded_data.drop_duplicates()

# print(loaded_data)
print(type(loaded_data))

conn.execute("DROP TABLE IF EXISTS businessstatsTable")
conn.execute(business_stats_schema)

# for each row in csv data do simple data cleaning
for index,row in loaded_data.iterrows():
    placeholders = ",".join(["%s"]*len(row))
    insert_stmt = "INSERT INTO businessstatsTable VALUES ( {} )".format(placeholders)
    conn.execute(insert_stmt,list(row))
    
print("Manual insertion success")
print(loaded_data)

<class 'pandas.core.frame.DataFrame'>

InternalError: (psycopg2.errors.DependentObjectsStillExist) cannot drop table businessstatstable because other objects depend on it
DETAIL:  constraint fk_area_id on table catchments_future depends on table businessstatstable
constraint fk_area_id on table catchments_primary depends on table businessstatstable
constraint fk_area_id on table catchments_secondary depends on table businessstatstable
constraint fk_area_id on table sa2_statistical_areas depends on table businessstatstable
constraint fk_area_id on table break_and_enter depends on table businessstatstable
HINT:  Use DROP ... CASCADE to drop the dependent objects too.

[SQL: DROP TABLE IF EXISTS businessstatsTable]
(Background on this error at: https://sqlalche.me/e/14/2j85)

In [146]:
# check if success
pd.read_sql_query('SELECT * FROM businessstatsTable', conn)

,area_id,area_name,business_count,accommodation_and_food_services_count,retail_trade_count,agriculture_forestry_and_fishing_count,health_care_and_social_assistance_count,public_administration_and_safety_count,transport_postal_and_warehousing_count
0,101021007,Braidwood,629,26,27,280,11,0,35
1,101021008,Karabar,326,7,10,8,11,0,43
2,101021009,Queanbeyan,724,52,47,11,56,3,77
3,101021010,Queanbeyan - East,580,16,23,4,12,0,57
4,101021011,Queanbeyan Region,1642,39,63,292,34,7,81
...,...,...,...,...,...,...,...,...,...
2296,901011001,Christmas Island,0,0,0,0,0,0,0
2297,901021002,Cocos (Keeling) Islands,7,3,0,0,0,0,0
2298,901031003,Jervis Bay,6,0,3,0,0,0,0
2299,901041004,Norfolk Island,0,0,0,0,0,0,0
2300,999999499,Currently Unknown (Aus.),1215,7,80,60,39,5,44

# Neighbourhoods

In [ ]:
# neighbourhoods part

neighbourhoods_schema = """CREATE TABLE IF NOT EXISTS NeighbourhoodsTable (
                         index INT,
                         area_id         INTEGER PRIMARY KEY,
                         area_name         VARCHAR(50),
                         land_area       FLOAT,
                         population   INTEGER,
                         number_of_dwellings   INTEGER,
                         number_of_businesses INTEGER,
                         median_annual_household_income INTEGER,
                         avg_monthly_rent INTEGER,
                         age_0_4 INTEGER,
                         age_5_9 INTEGER,
                         age_10_14 INTEGER,
                         age_15_19 INTEGER
                   )"""

loaded_data = pd.read_csv(os.path.join(data_path,'Neighbourhoods.csv'))
loaded_data.drop_duplicates()
loaded_data.dropna(inplace = True)

conn.execute("DROP TABLE IF EXISTS NeighbourhoodsTable")
conn.execute(neighbourhoods_schema)

for index,row in loaded_data.iterrows():
    i = 3
    while (i < len(row)) :
        if (isinstance(row[i], str)): 
            row[i] = row[i].replace(",", "")
            row[i] = int(row[i])
            i = i+1
    insert_stmt = "INSERT INTO NeighbourhoodsTable VALUES ({})".format(row)
    conn.execute(insert_stmt,list(row))
    
print("Manual insertion success")
print(loaded_data.tostring())

In [140]:
# check again
pd.read_sql_query('SELECT * FROM NeighbourhoodsTable', conn)
# check data clean for comma
##pd.read_sql_query('SELECT population FROM NeighbourhoodsTable where area_name=\'Goulburn\'', conn)

Empty DataFrame
Columns: [index, area_id, area_name, land_area, population, number_of_dwellings, number_of_businesses, median_annual_household_income, avg_monthly_rent, age_0_4, age_5_9, age_10_14, age_15_19]
Index: []

In [ ]:
# extract files, only use one time

import zipfile

zip_file = zipfile.ZipFile('break_and_enter.zip')
zip_extract = zip_file.extractall()
zip_extract.close()

# SA2 2016 AUST Data

In [1]:
# SA file load part
# QA
# why we're using statistical_area several times: simply because they are copy and paste.
# why use manual schema line by line to create table: because pgadmin has bug on automatic table, labels are not generated in proper way.

import geopandas as gpd
 ## statistical_areas = gpd.read_file( os.path.join(data_path, "data/SA2_2016_AUST/SA2_2016_AUST.shp") )
statistical_areas = gpd.read_file( os.path.join(data_path, "data/SA2_2016_AUST/SA2_2016_AUST.shp") )
statistical_areas.dropna()

sa2_areas_schema = '''CREATE TABLE sa2_statistical_areas (
                     sa2_maincode INT,
                     sa2_5digitcode INT,
                     sa2_name16  TEXT,
                     sa3_code16 INT,
                     sa3_name16 TEXT,
                     sa4_code TEXT,
                     sa4_name TEXT,
                     gccsa_code TEXT,
                     gccsa_name TEXT,
                     state_code INT,
                     state_name TEXT,
                     area_in_sqkm NUMERIC,
                     geom GEOMETRY(MULTIPOLYGON, 4283),
                     CONSTRAINT fk_area_id
                     FOREIGN KEY(sa2_maincode) 
                     REFERENCES "businessstatstable"(area_id))
                     ''' 

print(list(statistical_areas.iterrows()))

conn.execute("DROP TABLE IF EXISTS sa2_statistical_areas")
conn.execute(sa2_areas_schema)

cnt = 100
for index,row in statistical_areas.iterrows():
    if cnt == 0:
        break
    cnt -= 1
    if None in list(row):
        continue
    placeholders = ",".join(["%s"]*(len(row)-1))
    geom_col_placeholder =  "ST_Multi(ST_GeomFromText(%s, 4283))"
    
    insert_stmt = "INSERT INTO sa2_statistical_areas VALUES ( {},{} );".format(placeholders,geom_col_placeholder)
    try:
        conn.execute(insert_stmt,list(row[:-1])+[row[-1].wkt])
    except:
        pass

NameError: name 'os' is not defined

# Schoold Catchments

### Catchments future

In [75]:
# break_and_enter part, include future,
## statistical_areas = gpd.read_file( os.path.join(data_path, "catchments_future.shp") )
statistical_areas = gpd.read_file( os.path.join(data_path, "data/school_catchments/catchments_future.shp") )
statistical_areas.dropna()

catchments_future_schema = '''CREATE TABLE catchments_future (
                     use_id INT,
                     catch_type VARCHAR(20),
                     use_desc  VARCHAR(20),
                     add_date INT,
                     kindergart INT,
                     year1 INT,
                     year2 INT,
                     year3 INT,
                     year4 INT,
                     year5 INT,
                     year6 INT,
                     year7 INT,
                     year8 INT,
                     year9 INT,
                     year10 INT,
                     year11 INT,
                     year12 INT,  
                     geom GEOMETRY(MULTIPOLYGON, 4283),
                     CONSTRAINT fk_area_id
                     FOREIGN KEY(use_id) 
                     REFERENCES "businessstatstable"(area_id))
                     ''' 

print(list(statistical_areas.iterrows())[0])

conn.execute("DROP TABLE IF EXISTS catchments_future")
conn.execute(catchments_future_schema)

cnt = 100
for index,row in statistical_areas.iterrows():
    if cnt == 0:
        break
    cnt -= 1
    if None in list(row):
        continue
    placeholders = ",".join(["%s"]*(len(row)-1))
    geom_col_placeholder =  "ST_Multi(ST_GeomFromText(%s, 4283))"
    
    insert_stmt = "INSERT INTO catchments_future VALUES ( {},{} );".format(placeholders,geom_col_placeholder)
    try:
        conn.execute(insert_stmt,list(row[:-1])+[row[-1].wkt])
    except:
        pass

(0, USE_ID                                                     2133
CATCH_TYPE                                              PRIMARY
USE_DESC                                             Harbord PS
ADD_DATE                                               20200720
KINDERGART                                                 2023
YEAR1                                                      2023
YEAR2                                                      2023
YEAR3                                                      2023
YEAR4                                                      2023
YEAR5                                                      2023
YEAR6                                                      2023
YEAR7                                                         0
YEAR8                                                         0
YEAR9                                                         0
YEAR10                                                        0
YEAR11                                                        0
YEAR12                                                        0
geometry      POLYGON ((151.29768576390327 -33.7683218993738...
Name: 0, dtype: object)

###  Primary School

In [94]:
statistical_areas = gpd.read_file( os.path.join(data_path, "data/school_catchments/catchments_primary.shp") )
statistical_areas.dropna()
statistical_areas

catchments_primary_schema = '''CREATE TABLE catchments_primary (
                     use_id INT,
                     catch_type VARCHAR(20),
                     use_desc  VARCHAR(20),
                     add_date INT,
                     kindergart INT,
                     year1 VARCHAR(1),
                     year2 VARCHAR(1),
                     year3 VARCHAR(1),
                     year4 VARCHAR(1),
                     year5 VARCHAR(1),
                     year6 VARCHAR(1),
                     year7 VARCHAR(1),
                     year8 VARCHAR(1),
                     year9 VARCHAR(1),
                     year10 VARCHAR(1),
                     year11 VARCHAR(1),
                     year12 VARCHAR(1),  
                     geom GEOMETRY(MULTIPOLYGON, 4283),
                     CONSTRAINT fk_area_id
                     FOREIGN KEY(use_id) 
                     REFERENCES "businessstatstable"(area_id))
                     ''' 

print(list(statistical_areas.iterrows())[0])

conn.execute("DROP TABLE IF EXISTS catchments_primary")
conn.execute(catchments_primary_schema)

cnt = 100
for index,row in statistical_areas.iterrows():
    if cnt == 0:
        break
    cnt -= 1
    if None in list(row):
        continue
    placeholders = ",".join(["%s"]*(len(row)-1))
    geom_col_placeholder =  "ST_Multi(ST_GeomFromText(%s, 4283))"
    
    #ALTER TABLE tablename ADD CONSTRAINT constraintname UNIQUE (columns);
    
    #IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "sa2_statistical_areas" violates foreign key constraint "fk_area_id"
    #DETAIL:  Key (sa2_maincode)=(101021007) is not present in table "neighbourhoods".
    
    insert_stmt = "INSERT INTO catchments_primary VALUES ( {},{} );".format(placeholders,geom_col_placeholder)
    try:
        conn.execute(insert_stmt,list(row[:-1])+[row[-1].wkt])
    except:
        pass

(0, USE_ID                                                     2838
CATCH_TYPE                                              PRIMARY
USE_DESC                                             Parklea PS
ADD_DATE                                               20181210
KINDERGART                                                    Y
YEAR1                                                         Y
YEAR2                                                         Y
YEAR3                                                         Y
YEAR4                                                         Y
YEAR5                                                         Y
YEAR6                                                         Y
YEAR7                                                         N
YEAR8                                                         N
YEAR9                                                         N
YEAR10                                                        N
YEAR11                                                        N
YEAR12                                                        N
PRIORITY                                                   None
geometry      POLYGON ((150.93563850416004 -33.7161211047945...
Name: 0, dtype: object)

### Secondary School

In [100]:
statistical_areas = gpd.read_file( os.path.join(data_path, "data/school_catchments/catchments_primary.shp") )
statistical_areas.dropna()
statistical_areas

,USE_ID,CATCH_TYPE,USE_DESC,ADD_DATE,KINDERGART,YEAR1,YEAR2,YEAR3,YEAR4,YEAR5,YEAR6,YEAR7,YEAR8,YEAR9,YEAR10,YEAR11,YEAR12,PRIORITY,geometry
0,2838,PRIMARY,Parklea PS,20181210,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,None,"POLYGON ((150.93564 -33.71612, 150.93715 -33.7..."
1,3943,PRIMARY,Gordon WPS,20211219,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,None,"POLYGON ((151.14085 -33.74463, 151.14113 -33.7..."
2,2404,PRIMARY,Lindfield EPS,20211219,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,None,"POLYGON ((151.18336 -33.74748, 151.18443 -33.7..."
3,4393,PRIMARY,Carlingford WPS,20220223,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,None,"POLYGON ((151.04518 -33.77303, 151.04526 -33.7..."
4,4615,PRIMARY,Caddies Ck PS,20181210,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,None,"POLYGON ((150.92567 -33.72960, 150.92602 -33.7..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1661,4383,PRIMARY,E A Southee PS,20200315,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,None,"POLYGON ((147.94621 -34.55863, 147.95292 -34.5..."
1662,3275,PRIMARY,Tumbarumba PS,20200507,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,None,"POLYGON ((148.12885 -35.60082, 148.23155 -35.6..."
1663,2239,PRIMARY,Jindera PS,20200507,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,None,"POLYGON ((146.86148 -35.87511, 146.87402 -35.8..."
1664,3594,PRIMARY,Louth PS,20200604,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,None,"POLYGON ((145.18403 -29.65805, 145.18434 -29.6..."
1665,2155,PRIMARY,Hermidale PS,20200604,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,None,"POLYGON ((146.46001 -31.31688, 146.47453 -31.3..."

In [95]:
statistical_areas = gpd.read_file( os.path.join(data_path, "data/school_catchments/catchments_secondary.shp") )
statistical_areas.dropna()
statistical_areas

catchments_secondary_schema = '''CREATE TABLE catchments_secondary (
                     use_id INT,
                     catch_type VARCHAR(20),
                     use_desc  VARCHAR(20),
                     add_date INT,
                     kindergart INT,
                     year1 VARCHAR(1),
                     year2 VARCHAR(1),
                     year3 VARCHAR(1),
                     year4 VARCHAR(1),
                     year5 VARCHAR(1),
                     year6 VARCHAR(1),
                     year7 VARCHAR(1),
                     year8 VARCHAR(1),
                     year9 VARCHAR(1),
                     year10 VARCHAR(1),
                     year11 VARCHAR(1),
                     year12 VARCHAR(1),  
                     geom GEOMETRY(MULTIPOLYGON, 4283),
                     CONSTRAINT fk_area_id
                     FOREIGN KEY(use_id) 
                     REFERENCES "neighbour"(area_id))
                     ''' 

print(list(statistical_areas.iterrows())[0])

conn.execute("DROP TABLE IF EXISTS catchments_secondary")
conn.execute(catchments_secondary_schema)

cnt = 100
for index,row in statistical_areas.iterrows():
    if cnt == 0:
        break
    cnt -= 1
    if None in list(row):
        continue
    placeholders = ",".join(["%s"]*(len(row)-1))
    geom_col_placeholder =  "ST_Multi(ST_GeomFromText(%s, 4283))"
    
    #ALTER TABLE tablename ADD CONSTRAINT constraintname UNIQUE (columns);
    
    #IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "sa2_statistical_areas" violates foreign key constraint "fk_area_id"
    #DETAIL:  Key (sa2_maincode)=(101021007) is not present in table "neighbourhoods".
    
    insert_stmt = "INSERT INTO catchments_secondary VALUES ( {},{} );".format(placeholders,geom_col_placeholder)
    try:
        conn.execute(insert_stmt,list(row[:-1])+[row[-1].wkt])
    except:
        pass

(0, USE_ID                                                     8503
CATCH_TYPE                                            HIGH_COED
USE_DESC                                           Billabong HS
ADD_DATE                                               20200507
KINDERGART                                                    N
YEAR1                                                         N
YEAR2                                                         N
YEAR3                                                         N
YEAR4                                                         N
YEAR5                                                         N
YEAR6                                                         N
YEAR7                                                         Y
YEAR8                                                         Y
YEAR9                                                         Y
YEAR10                                                        Y
YEAR11                                                        Y
YEAR12                                                        Y
PRIORITY                                                   None
geometry      POLYGON ((146.67182402032344 -35.3144375062219...
Name: 0, dtype: object)

### Break and Enter

In [ ]:
statistical_areas = gpd.read_file( os.path.join(data_path, "data/break_and_enter/BreakEnterDwelling_JanToDec2021.shp") )
statistical_areas.dropna()
statistical_areas

In [134]:
# break_and_enter part

statistical_areas = gpd.read_file( os.path.join(data_path, "data/break_and_enter/BreakEnterDwelling_JanToDec2021.shp") )
statistical_areas.dropna()
statistical_areas

break_and_enter_schema = '''CREATE TABLE break_and_enter (
                     object_id INT,
                     contour FLOAT,
                     density VARCHAR(20),
                     orig_fid INT,
                     shape_leng FLOAT,
                     shape_area FLOAT,
                     geom GEOMETRY(MULTIPOLYGON, 4283),
                     CONSTRAINT fk_area_id
                     FOREIGN KEY(object_id) 
                     REFERENCES "neighbour"(area_id))
                     ''' 

print(list(statistical_areas.iterrows())[0])

conn.execute("DROP TABLE IF EXISTS break_and_enter")
conn.execute(break_and_enter_schema)

cnt = 100
for index,row in statistical_areas.iterrows():
    if cnt == 0:
        break
    cnt -= 1
    if None in list(row):
        continue
    placeholders = ",".join(["%s"]*(len(row)-1))
    geom_col_placeholder =  "ST_Multi(ST_GeomFromText(%s, 4283))"
    
    #ALTER TABLE tablename ADD CONSTRAINT constraintname UNIQUE (columns);
    
    #IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "sa2_statistical_areas" violates foreign key constraint "fk_area_id"
    #DETAIL:  Key (sa2_maincode)=(101021007) is not present in table "neighbourhoods".
    
    insert_stmt = "INSERT INTO break_and_enter VALUES ( {},{} );".format(placeholders,geom_col_placeholder)
    try:
        conn.execute(insert_stmt,list(row[:-1])+[row[-1].wkt])
    except:
        pass

(0, OBJECTID                                                      1
Contour                                                     8.0
Density                                             Low Density
ORIG_FID                                                      1
Shape_Leng                                             0.012138
Shape_Area                                             0.000006
geometry      POLYGON ((149.91078014700008 -37.0663631389999...
Name: 0, dtype: object)

Empty DataFrame
Columns: [object_id, contour, density, orig_fid, shape_leng, shape_area, geom]
Index: []

# Cycle network

In [82]:
query = """
        CREATE TABLE cyclenetwork (
                        Index               INT,
                        "OBJECTID"          INT PRIMARY KEY,
                        "RouteType"          VARCHAR(256),
                        "Source"             VARCHAR(256),
                        "Shape__Length"      FLOAT,
                        geom           GEOMETRY(LINESTRING, 4283));
        
        """
conn.execute("DROP TABLE IF EXISTS cyclenetwork")
conn.execute(query)

In [83]:
srid = 4283
def create_wkt_element(geom,srid):
    if (geom.geom_type == 'LINESTRING'):
        geom = LINESTRING([geom])
    return WKTElement(geom.wkt, srid)

In [ ]:
cycle = gpd.read_file('data/Cycle_network.geojson')
cycle_copy = cycle.copy()
cycle_copy['geom'] = cycle['geometry'].apply(lambda x: WKTElement(x.wkt, srid=srid))
cycle_copy = cycle_copy.drop(columns="geometry")  # deleting the old copy
cycle_copy.head()

In [ ]:
cycle_copy.to_sql('cyclenetwork', conn, if_exists='append', index=True, dtype={'geom': Geometry('LINESTRING', srid)})

# Task 2

In [119]:
## join the neighbourhoods table and sa2 2016 aust geometry table, to know the area and statistic data of surburb

query = """CREATE TABLE sa2_neighbourhoods AS 
           SELECT * 
           FROM  NeighbourhoodsTable n JOIN sa2_statistical_areas s ON (n.area_name = s.sa2_name16)"""
conn.execute("DROP TABLE IF EXISTS sa2_neighbourhoods")
conn.execute(query)

In [121]:
## Check the table we had so far 
query ="""
        SELECT *  FROM sa2_neighbourhoods;
        """
res = pgquery(conn, query)
res

Empty DataFrame
Columns: [index, area_id, area_name, land_area, population, number_of_dwellings, number_of_businesses, median_annual_household_income, avg_monthly_rent, age_0_4, age_5_9, age_10_14, age_15_19, sa2_maincode, sa2_5digitcode, sa2_name16, sa3_code16, sa3_name16, sa4_code, sa4_name, gccsa_code, gccsa_name, state_code, state_name, area_in_sqkm, geom]
Index: []

[0 rows x 26 columns]

In [122]:
## merge the business into the existing table
query = """CREATE TABLE neighbour_business AS 
                SELECT DISTINCT * 
                FROM sa2_neighbourhoods c JOIN BusinessStatsTable b USING (area_id, area_name)"""
conn.execute("DROP TABLE IF EXISTS neighbour_business")
conn.execute(query)

In [123]:
## create a table of catchments
query = """select * into school from 
                ( SELECT * from  catchments_primary  union 
                  SELECT * from  catchments_secondary)a
                """
conn.execute("DROP TABLE IF EXISTS school")
conn.execute(query)

In [127]:
query = """
        ALTER TABLE break_and_enter
        RENAME column geom to geometry
     """
conn.execute(query)

In [128]:
## join the neigbourhood data set with break and enter for security calculation 
query = """
            create table neighbour_break as 
            select * 
            from neighbour_business n join break_and_enter b on (ST_WITHIN(b.geometry,n.geom))
        """
conn.execute("DROP TABLE IF EXISTS neighbour_break")
conn.execute(query)

In [ ]:
pgquery("select * from neighbour_break")

In [ ]:
query ="""
        alter table neighbour_break rename to calculation
        """
conn.execute(query)

In [ ]:
query = """ Alter table calculation
        ADD num_young_people INT , 
        ADD school_density FLOAT, 
        ADD accom_density FLOAT,
        ADD retail_density FLOAT,
        ADD crime_density FLOAT, 
        ADD health_density FLOAT,
        ADD avg_school FLOAT, 
        ADD avg_accom FLOAT, 
        ADD avg_retail FLOAT, 
        ADD avg_crime FLOAT,
        ADD avg_health FLOAT,
        ADD stdev_school FLOAT, 
        ADD stdev_accom FLOAT, 
        ADD stdev_retail FLOAT, 
        ADD stdev_crime FLOAT,
        ADD stdev_health FLOAT,
        ADD z_school FLOAT, 
        ADD z_accom FLOAT, 
        ADD z_retail FLOAT, 
        ADD z_crime FLOAT,
        ADD z_health FLOAT,
        ADD z_sum FLOAT;
    """
conn.execute(query)

In [ ]:
rm_comma = """UPDATE calculation
                SET population = REPLACE(population, ',' , ''), number_of_dwellings = REPLACE(number_of_dwellings, ',' , ''); 
                """
conn.execute(rm_comma)

In [ ]:
query = """
        update table calculation
        set 
        z_school = (school_density - calculation.avg_accom)/calculation.stdev_accom,
        z_accom =  (accom_density - calculation.avg_accom)/calculation.stdev_accom,
        z_retail =  (school_retail - calculation.avg_retail)/calculation.stdev_retail,
        z_crime =  (school_crime - calculation.avg_crime)/calculation.stdev_crime,
        z_health =  (school_health - calculation.avg_health)/calculation.stdev_healt, 
        from (
              Select(AVG(school_density) as avg_school, 
                     AVG(accom_density) as avg_accom,
                     AVG(retail_density) as avg_retail,
                     AVG(crime_density) as avg_crime,
                     AVG(health_density) as health_health,
                     stddev(school_density) as avg_school, 
                     stddev(accom_density) as stdev_accom,
                     stddev(retail_density) as stdev_retail,
                     stddev(crime_density) as stdev_crime,
                     stddev(health_density) as stdev_health from calculation ) z
                )
        
        """
conn.execute(query)

In [ ]:
z_sum = """
        update calculation 
        set z_sum = z_school + z_accom + z_retail - z_crime + z_health;
        
        """
conn.execute(z_sum)

In [ ]:
pgquery("Select distinct area_name, z_sum from calculation")

## Correlation

In [ ]:
corr = """
        Select corr(median_household_annual_income, z_sum) as median_income,
               corr(avg_monthly_rent, z_sum) as avg_rent 
        FROM   calculation
        """
pgquery(corr)

# Visualising the data

In [ ]:
## Ploting the z score and the median household income 
query = "SELECT DISTINCT median_annual_household_income, z_score From calculation"
pgquery(query)
retdf.plot.scatter(x='median_annual_household_income', y='z_', title= "Income vs Fire risk");

In [1]:
conn.close()
db.dispose()

NameError: name 'conn' is not defined